<h1 align="center"></h1>

</br>
<div class="well well-lg jumbotron col-sm-8 col-sm-offset-2 effect5 user1 ">
</br>
<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
  <div class="form-group ">
    <div class="control-label col-sm-3">
    <h4>  <%= f.label :email %> </h4>
    </div>
    <div class="col-sm-8">
    <h4>  <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %></h4>
    </div>
  </div>
</br>
  <div class="form-group ">
    <div class="control-label col-xs-3">
    <h4>  <%= f.label :password %></h4>
    </div>
    <div class="col-sm-8">
    <h4>  <%= f.password_field :password, class: "form-control", autocomplete: "off" %></h4>
    </div>
  </div>
  </br>
  <div class="form-group ">
    <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-6 ">
      <%= f.submit "Log in", class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>
</br>
</br>
<div class="col-xs-12 center">
  [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
</div>
</div>
