<% obj.each do |article| %>
  <div class="row " >
    <div class="  col-xs-12 col-sm-10 col-lg-8 col-md-10 col-md-offset-1 col-sm-offset-1 col-lg-offset-2 " >
      <div class="well well-lg effect5 user1  "  id = "article" >
        <div class="article-title">
          <div class="row">
          <% user1 = article.user_id %>
          <% user1 = User.find(user1) %>
          <% name = user1.username.split("") %>
          <% name = name[0].upcase %>
          <div align = "center">
            <div>
              <% if user1.picture? %>
               <%= link_to image_tag(user1.picture.url ,class: "name") , user_path(user1)  %>
              <% else %>
              <div class=" center name_user2 listing">
              <li><%= link_to name , user_path(user1) %></li>
              </br>
              </div>
              <% end %>
            </br></br>
          <%= link_to article.title, article_path(article) %>
          </div>
          </div>
         <div class="article-body">
           <div class="card card-inverse card-success text-xs-center user">
            <div class="card-block">
              <blockquote class="card-blockquote">
              <h4>  <%= truncate(article.description , length: 50) %> </h4>
              </blockquote>
            </div>
          </div>
        </br>
        <div class="visible-lg">
        <% if article.video == nil || article.video.length < 15 %>
        <% else %>
          <object width="100%" height="480"
          data="<%= article.video %>">
          </object>
        <% end %>
      </div>
    </br>
    <div class="visible-lg">
    <% if article.files.url == nil || article.files.url.length < 20 %>
    <% else %>
      <object width="100%" height="480"
      data="<%= article.files.url %>">
      </object>
    <% end %>
  </div>


          <div class="article-meta-details">
            <small>Created by: <%= article.user.username if article.user%>,
                    <%= time_ago_in_words(article.created_at) %> ago,
                    last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
          </div>
        </div>
        <% if article.categories.any? %>
          <p >Categories:</br> </br><%= render article.categories  %></p>
        <% end %>
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <div class="article-actions">
            <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this article", article_path(article), method: :delete,
                                          data: { confirm: "Are you sure you want to delete the article?"},
                                          class: "btn btn-xs btn-danger" %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>
