<div>
<h2 align="center">TITLE<b>: <%= @article.title.upcase %></b></h2>
<div class="well well-lg col-xs-12 col-sm-12 col-md-10  col-lg-8  col-lg-offset-2  col-md-offset-1 user1"  align = "center" style="border-top-left-radius: 20px;" >
  <% if @article.user %>
  <% name = @article.user.username.split("") %>
  <% name = name[0].upcase %>
    <ul class="listing">
      <div class="row ">
        <div class="col-md-4 col-md-offset-4 ">
          <li style="color:darkgreen">Created by:</li>
          <div class="name_user1 hidden-xs "  style=" font-weight:400;">
          <li><%= link_to name , user_path(@article.user) %></li>
          </div>
          <div class="name_user1 visible-xs "  style=" font-weight:400;">
          <li><%= link_to name , user_path(@article.user) %></li>
          </div>
        </br>
        </br>
      </br>
        </br>
          <li class="article-title">
            <%= link_to @article.user.username, user_path(@article.user) %>
          </li>
        </br>
          <li><small class="btn btn-sm btn-info">
            <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
          </small></li>
        </div>
      </div>
    </ul>
  <% end %>
  </br>
  <h4 class="center description"><strong>Description:</strong></h4>
</br>

<div class="card card-info text-xs-center user">
  <div  class="card-block">
    <blockquote class="card-blockquote">
      <h4><b><%= simple_format(@article.description) %></b></h4>
    </blockquote>
  </div>
</div>
</br>
<div class="visible-lg">
<% if @article.video == nil || @article.video.length < 10 %>
<% else %>
  <object width="100%" height="420"
  data="<%= @article.video %>">
  </object>
<% end %>
</div>
  <% if @article.categories.any? %>
    <p><b> CATECOGRIES :</br></br> </b> <%= render @article.categories %></p>
  <% end %>
</br>

  <div class="article-actions">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete this article", article_path(@article), method: :delete,
                                        data: { confirm: "Are you sure you want to delete the article?"},
                                        class: "btn btn-xs btn-danger" %>
    <% end %>
  </br>
    </br>
    <%= link_to "View all articles", articles_path, class: "btn btn-lg btn-success" %>
  </div>
</br>
      <%= render 'shared/errors', obj: @comments %>
      <%= form_for(@comments, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-sm-2">
          <h3> <%= f.label :comment %> </h3>
          </div>
          <div class="col-sm-10">
          <h3>  <%= f.text_field :comment, class: "form-control", placeholder: "POST YOUR COMMENTS", autofocus: false %></h3>
          </div>
          <%= hidden_field_tag(:article_id, @article.id ) %>
        </div>
      <% end %>
      <% if @article.comments.count != 0 %>
        <hr >
        <h3><b>COMMENTS<b></h3>
        <hr >
      <% @article.comments.order("updated_at DESC").each do |comment| %>
      <% if comment.user_id == current_user.id %>
      <div align = "left" class =" well well-sm effect5 user1 center card-success" >
      <h4> <%= comment.comment.html_safe %><%= time_ago_in_words(comment.updated_at) %> ago</h4></br></br>
      <% if logged_in? && (current_user == comment.user || current_user.admin?) %>
        <div class="article-actions">
        </br>
          <%= link_to "Delete this Post", comment_path(comment), method: :delete,
                                        data: { confirm: "Are you sure you want to delete the Post?"},
                                      class: "btn btn-xs btn-danger" %>
        </div>

        <% end %>
        </div>
      </br>
      <% else %>
      <div align = "left" class =" well well-sm effect5 user1 center card-info" >
      <h4> <%= comment.comment.html_safe %><%= time_ago_in_words(comment.updated_at) %> ago</h4></br></br>
      <% if logged_in? && (current_user == comment.user || current_user.admin?) %>
        <div class="article-actions">
        </br>
          <%= link_to "Delete this Post", comment_path(comment), method: :delete,
                                        data: { confirm: "Are you sure you want to delete the Post?"},
                                      class: "btn btn-xs btn-danger" %>
        </div>

        <% end %>
        </div>
      </br>
      <% end %>
      <% end %>

    <% end %>

</div>
