<h1 align="center"> AEROSPACE BLOGGERS</h1>
<div align="center">
  <%= will_paginate %>
  <% @users.each do |user| %>
    <ul class="listing" >
      <div class="row">
        <div class="well col-xs-12 col-sm-8 col-lg-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 "id="user">
          <li><%= link_to gravatar_for(user), user_path(user) %></li></br>
          <li class="article-title">
            <%= link_to user.username, user_path(user) %>
          </li>
        </br>
          <li><small class="btn btn-danger btn-lg"><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
          <% if logged_in? and current_user.admin? %>
            <li><%= link_to "Delete this user", user_path(user), method: :delete,
                data: { confirm: "Are you sure you want to delete the user and all their articles?" } %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>
