<h1 align="center"> AEROSPACE BLOGGERS</h1>
</br>
<div align="center">
  <%= will_paginate %>
</div>
<div class="row center" >
  <% @users.each do |user| %>
  <% name = user.username.split("") %>
  <% name = name[0].upcase %>
    <ul class="listing" >
        <div class="well well-lg col-lg-5 col-lg-offset-1 col-xs-offset-1 col-md-5 col-md-offset-1 col-xs-10 col-sm-10 col-sm-offset-1 user1 "  >
          <% if user.picture? %>
           <%= link_to image_tag(user.picture.url ,class: "name") , user_path(user)  %>
          <% else %>
          <div class=" center name_user">
          <li><%= link_to name , user_path(user) %></li>
          </div>
          <% end %>
          <% if user.picture? %>
        </br></br>
        <% else %>
      </br></br></br></br>
          <% end %>
          <li class="center article-title">
            <%= link_to user.username, user_path(user) %>
          </li>
        </br>
          <li><small class="btn btn-block btn-success btn-lg"><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
        </br><div class = "center" style="font-size:1.4em;color:orange;font-weight:bold;">
          <small>Created by: <%= user.username %>,
                  <%= time_ago_in_words(user.created_at) %> ago,
                  last updated: <%= time_ago_in_words(user.updated_at) %> ago</small>
        </div>
      </br>
          <% if logged_in? and current_user.admin? %>
            <li class="btn btn-warning btn-lg btn-block"><%= link_to "Delete this user", user_path(user), method: :delete,
                data: { confirm: "Are you sure you want to delete the user and all their articles?" } %></li>
          <% end %>
        </div>

    </ul>
  <% end %>
</div>
  <div align = "center">
  <%= will_paginate %>
</div>
