<div class="bg-warning">
<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<% name = @user.username.split("") %>
<% name = name[0].upcase %>
  <h1  align="center" style="font-size:15em">  <%= name %>  </h1>
<h3 align="center" style="color:orange; font-weight:bold;"><%= @user.username %>'s articles</h3>
<div class="center">
  <%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div class="center">
  <%= will_paginate @user_articles %>
</div>
</div>
