<h1 align="center"> AEROSPACE BLOGGERS</h1>
  <% if @users.count > 0%>
  <% @users.each do |user| %>
  <% name = user.username.split("") %>
  <% name = name[0].upcase %>
    <ul class="listing" >
      <div class="row">
        <div class="well well-sm col-xs-10 col-xs-offset-1  col-md-10 col-sm-10 col-lg-8 col-lg-offset-2  col-sm-offset-1 col-md-offset-1  user1 ">
          <div align="center">
          <div class="name_user">
          <li><%= link_to name , user_path(user) %></li>
          </div>
        </br></br></br></br>
          <li class="article-title">
            <%= link_to user.username, user_path(user) %>
          </li>
        </br>
          <li><small class="btn btn-block btn-success btn-lg"><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
        </br><div style="font-size:1.4em;color:orange;font-weight:bold;">
          <small>Created by: <%= user.username %>,
                  <%= time_ago_in_words(user.created_at) %> ago,
                  last updated: <%= time_ago_in_words(user.updated_at) %> ago</small>
        </div>
      </br>
          <% if logged_in? and current_user.admin? %>
            <li class="btn btn-warning btn-lg btn-block"><%= link_to "Delete this user", user_path(user), method: :delete,
                data: { confirm: "Are you sure you want to delete the user and all their articles?" } %></li>
          <% end %>
        </div>
      </div>
      </div>
    </ul>
  <% end %>
  <% else %>
  <div class = "center">
  <h3> <%= @search %> not found </h3>
  </div>
  <% end %>
